<!-- Sidebar navigation -->
<div class="row">
    <div class="col-xl-8">
        <section class="hero-card" *ngIf="authService.userData as user">
            <div class="col-md-7 col-lg-6 col-xl-7">
                <div class="hero-card-content">
                    <h2 class="card-title">
                        Welcome, <strong>{{(user.displayName) ? user.displayName : 'user'}}</strong>
                    </h2>
                    <div class="user-data">
                        <div>
                            <img *ngIf="user.photoURL" class="align-self-start mr-5 img-thumbnail rounded-circle"
                                src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                                alt="{{user.displayName}}">
                        </div>
                        <div class="user-data__text">
                            <p>User ID: <strong>{{user.uid}}</strong></p>
                            <p>Email: <strong>{{user.email}}</strong></p>
                            <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                            <button type="button" class="btn btn-primary" (click)="authService.SignOut()">Log
                                out</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-6 col-xl-5 pr-md-0 mb-n32 justify-content-center justify-content-md-end">
                <picture class="hero-card-illustration">
                    <img class="show-on-light rhcp-img"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/RHCP_Logo.svg/1038px-RHCP_Logo.svg.png"
                        alt="RHCP">
                </picture>
            </div>
        </section>

        <h2>My favourite RHCP songs:</h2>
        <ul id="songsList" class="list-group col-xxl-5 col-xl-8">
            <li *ngFor="let song of songs" class="list-group-item">
                <strong>{{ song.name }}</strong> - {{ song.LP }}
            </li>
        </ul>


        <form (ngSubmit)="add()" *ngIf="editableSongList" class="form-horizontal col-md-8 col-xxl-5 col-xl-8">


            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Song name</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Name" aria-label="Name" name="name" [(ngModel)]="newSong.name"
                        class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="LP" class="col-sm-3 control-label">LP</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="LP" aria-label="LP" [value]="newSong.LP" name="LP"
                        [(ngModel)]="newSong.LP" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 offset-md-3">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>